<header>
  <eichfx-header></eichfx-header>
</header>

<main>

  <nav>
    <eichfx-menu></eichfx-menu>
    <ul>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
    </ul>
  </nav>

  <article>
    <eichfx-landing-page></eichfx-landing-page>
    <h1>Bacon</h1>
    <p>
      Bacon ipsum dolor sit amet tail tenderloin shankle, strip steak bresaola filet mignon salami ribeye. Jowl shankle ball tip pork loin andouille. Jerky ball tip capicola, chuck brisket short ribs kielbasa. Short ribs strip steak pastrami, flank jerky meatball prosciutto fatback ball tip. Turkey tongue filet mignon flank hamburger prosciutto chuck sausage tenderloin ribeye. Pork belly pig corned beef drumstick pastrami jowl.
    </p>
    <p>
      Jowl rump pork belly pork pig, chuck ham hock fatback strip steak ground round turkey. Venison cow fatback pork shoulder. Turkey tenderloin tail drumstick. Beef ribs fatback ribeye tri-tip biltong hamburger sirloin beef. Tri-tip pig meatball, hamburger doner prosciutto shank pancetta pastrami leberkas. Pork belly bacon ham short ribs pork chop tenderloin fatback jowl salami hamburger beef.
    </p>
    <p>
      Tail sausage rump corned beef ball tip chicken bresaola drumstick ham short loin. Chuck corned beef sausage, strip steak spare ribs t-bone pig prosciutto hamburger boudin pastrami shankle capicola leberkas pork. Hamburger ham short ribs leberkas, spare ribs porchetta meatloaf tongue venison strip steak boudin frankfurter bresaola tri-tip. Tail spare ribs venison, shankle short loin sausage ribeye.
    </p>
    <p>
      Frankfurter shankle filet mignon pork boudin. Beef ribs jerky andouille ribeye. Tongue tri-tip pork strip steak bacon doner. Hamburger pork loin bresaola sausage pork, pancetta chuck andouille pig ball tip short ribs landjaeger turkey. Shoulder andouille rump kevin tenderloin brisket capicola leberkas ham hock tri-tip pastrami fatback. Short loin biltong beef ribs, swine drumstick jerky ball tip chuck porchetta filet mignon turducken capicola pork chop. Kevin biltong venison, pastrami fatback corned beef meatball pork loin swine beef ribs brisket pig filet mignon.
    </p>
    <p>
      Chuck shoulder flank, t-bone beef pork loin bresaola venison tenderloin pork chop pancetta. Pig jerky meatloaf corned beef andouille, fatback ground round pork chop pastrami cow meatball bresaola spare ribs kielbasa. Corned beef chuck jowl pork belly, ribeye andouille strip steak pancetta turducken. Fatback ball tip landjaeger, biltong ribeye jowl rump turkey t-bone pork belly short loin ground round andouille jerky. Spare ribs frankfurter pastrami, sirloin andouille tongue tenderloin tail strip steak meatloaf porchetta brisket fatback. Tenderloin ball tip filet mignon tail meatball pork chop sirloin drumstick ham hock.
    </p>
  </article>

  <aside>
    Sidebar
  </aside>

</main>

<footer>
  Something about bacon :-)
</footer>
