body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 1000px;
}

main {
  flex: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

main > nav {
  width: 200px;
}

main > .article {
  flex: auto;
  overflow-y: scroll;
}

main > aside {
  width: 200px;
}
