<header>
  <eichfx-header></eichfx-header>
</header>

<main>
  <nav>
    <eichfx-menu></eichfx-menu>
    <ul>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
      <li><a href="#">A Link</a></li>
    </ul>
  </nav>

  <div class="article">
    <eichfx-display></eichfx-display>
  </div>


  <aside>
    Sidebar
  </aside>

</main>

<footer>
  Something about bacon :-)
</footer>
