body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 1000px;
}

main {
  flex: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

main > .article {
  flex: auto;
  overflow-y: auto;
}

main > aside {
  width: 150px;
}
